In [27]:
%load_ext sql
from sqlalchemy import create_engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
import psycopg2
import numpy
import pandas as pnd
import seaborn

In [29]:
import sqlite3
import sqlalchemy
import configparser
config = configparser.ConfigParser()

In [30]:
from psycopg2.extensions import register_adapter, AsIs
def addapt_numpy_float64(numpy_float64):
    return AsIs(numpy_float64)
def addapt_numpy_int64(numpy_int64):
    return AsIs(numpy_int64)
register_adapter(numpy.float64, addapt_numpy_float64)
register_adapter(numpy.int64, addapt_numpy_int64)

In [31]:
#display options
pnd.set_option('display.max_rows', 500)
pnd.set_option('display.max_columns', 500)
pnd.set_option('display.width', 1000)

In [32]:
# Connexion à la base de données
%sql postgresql://anacossard:12Anake7Fr**@localhost/test1

In [33]:
cur = create_engine('postgresql://anacossard:12Anake7Fr**@localhost/test1')

In [34]:
id_wf_r = "SELECT workflow.id_wf, wf_nextflow.dsl FROM workflow, wf_nextflow WHERE workflow.id_wf = wf_nextflow.id_wf AND wf_nextflow.dsl='1'"

In [35]:
wf = pnd.read_sql(id_wf_r, cur)
wf

     id_wf dsl
0        1   1
1        5   1
2        7   1
3       12   1
4       13   1
..     ...  ..
556   1274   1
557   1278   1
558   1280   1
559   1283   1
560   1285   1

[561 rows x 2 columns]

In [36]:
id_channel_r = "SELECT channel.id_wf, channel.id_channel, wf_nextflow.dsl FROM channel, wf_nextflow where wf_nextflow.dsl='1' and wf_nextflow.id_wf=channel.id_wf"
chnl = pnd.read_sql(id_channel_r, cur)

In [37]:
chnl

       id_wf  id_channel dsl
0          1           3   1
1          1           5   1
2          1           6   1
3          1           8   1
4          1           9   1
...      ...         ...  ..
14974   1285       54650   1
14975   1285       54645   1
14976   1285       54651   1
14977   1285       54639   1
14978   1285       54638   1

[14979 rows x 3 columns]

In [38]:
ptc = 'SELECT channel.id_channel, link_process_channel.id_proc, link_process_channel.kind_channel FROM link_process_channel, channel WHERE link_process_channel.id_channel = channel.id_channel'
channel_to_proc = pnd.read_sql(ptc,cur)

In [39]:
channel_to_proc

       id_channel  id_proc kind_channel
0               2        1        input
1               3        1       output
2               5        4        input
3               6        4       output
4               3        7        input
...           ...      ...          ...
59975       54644    54643        input
59976       54645    54643        input
59977       54642    54646        input
59978       54644    54646        input
59979       54645    54646        input

[59980 rows x 3 columns]

In [40]:
otc = 'SELECT channel.id_channel, link_channel_operation.id_ope, link_channel_operation.kind_ope FROM link_channel_operation, channel WHERE link_channel_operation.id_channel = channel.id_channel'
operation_to_channel = pnd.read_sql(otc,cur)

In [41]:
operation_to_channel

       id_channel  id_ope kind_ope
0              14  100000    input
1               2  100000   output
2              64  100001    input
3              59  100001   output
4             105  100002    input
...           ...     ...      ...
10401       54645  104388   output
10402       54651  104389    input
10403       54638  104390    input
10404       54639  104391    input
10405       54638  104392    input

[10406 rows x 3 columns]

In [50]:
def verification(channel,ctp,otc):
    file = open("pb_wf.txt","a")
    file.write("Channel with too many inputs/outputs :")
    wf_bug=[]
    channel_bug = []
    erreur={}
    
    for index, current in channel.iterrows():
        wf=current['id_wf']
        cha = current['id_channel']
        link_process = ctp.loc[ctp['id_channel']==cha]
        link_operation = otc.loc[otc['id_channel']==cha]
        if len(link_process.index)+len(link_process.index)>2:
            l = {'process':[],'operation':[]}
            for index,current in link_process.iterrows():
                l['process'].append(current['id_proc'])
            for index,current in link_operation.iterrows():
                l['operation'].append(current['id_ope'])
            erreur[cha]=l
            file.write("\n In workflow :"+str(wf)+"; Channel :"+str(cha)+" too many inputs/outputs :"+str(erreur[cha]))
            if wf not in wf_bug:
                wf_bug.append(wf)
                channel_bug.append(cha)
        
        if len(link_process.index)+len(link_process.index)==2:
            if len(link_process.index)==2 and link_process.iloc[0]['kind_channel']==link_process.iloc[1]['kind_channel']:
                l = {'workflow':wf,'process':[]}
                l['process'].append([link_process.iloc[0]['id_channel'],link_process.iloc[0]['kind_channel']])
                l['process'].append([link_process.iloc[1]['id_channel'],link_process.iloc[1]['kind_channel']])
                erreur[cha]=l
                file.write("\n In workflow :"+str(wf)+"; Channel :"+str(cha)+" too many inputs/outputs :"+str(erreur[cha]))
                if wf not in wf_bug:
                    wf_bug.append(wf)
                    channel_bug.append(cha)
            
            if len(link_operation.index)==2 and link_operation.iloc[0]['kind_ope']==link_operation.iloc[1]['kind_ope']:
                l = {'workflow':wf,'operation':[]}
                l['operation'].append(link_operation.iloc[0]['kind_ope'])
                l['operation'].append(link_operation.iloc[1]['kind_ope'])
                erreur[cha]=l
                file.write("\n In workflow :"+str(wf)+"; Channel :"+str(cha)+" too many inputs/outputs :"+str(erreur[cha]))
                if wf not in wf_bug:
                    wf_bug.append(wf)
                    channel_bug.append(cha)
            
            if len(link_operation.index)==1 and len(link_process.index)==1 and link_process.iloc[0]['kind_channel']==link_operation.iloc[0]['kind_ope']:
                l = {'process':[],'operation':[]}
                l['process'].append([link_process.iloc[0]['id_channel'],link_process.iloc[0]['kind_channel']])
                l['operation'].append([link_operation.iloc[0]['id_ope'],link_operation.iloc[0]['kind_ope']])
                erreur[cha]=l
                file.write("\n In workflow :"+str(wf)+"; Channel :"+str(cha)+" too many inputs/outputs :"+str(erreur[cha]))
                if wf not in wf_bug:
                    wf_bug.append(wf)
                    channel_bug.append(cha)
                    
    return wf_bug, channel_bug

In [51]:
wf_bug, channel_bug = verification(chnl,channel_to_proc,operation_to_channel)

In [52]:
def remplissage(wf_bug,channel,ctp,otc):
    file=open("erreur_arete.txt","a")
    file.write("Channel with too many inputs/outputs :")
    added={}
    nb_channel = len(channel['id_wf'])
    i=1
    
    # Boucle sur les channels
    for index, current in channel.iterrows():
        wf=current['id_wf']
        if wf not in wf_bug:
            cha = current['id_channel']
            values={'channel':cha,'output':None,'type_output':None,'input':None,'type_input':None,'id_wf':wf}
            to_add = True

            #Verification que le channel n'est pas déjà dans la table
            verif = f"""
                    SELECT id_channel FROM arete
                    WHERE id_channel = %(channel)s
                    """
            result = cur.execute(verif, {'channel':cha})
            raw = result.fetchall()
            if raw != []:
                file.write("\n Channel :"+str(cha)+" already in the database")
                print("Already in the database : ", cha)
                to_add = False

            # Recherche des process et opérations 
            link_process = ctp.loc[ctp['id_channel']==cha]
            link_operation = otc.loc[otc['id_channel']==cha]

            # Ajout du channel si correct
            if to_add == True:
                # Ajout des process
                for index,current in link_process.iterrows():
                    kind=current['kind_channel']
                    if kind =='input':
                        values['input']=current['id_proc']
                        values['type_input']='process'
                    if kind =='output':
                        values['output']=current['id_proc']
                        values['type_output']='process'

                # Ajout des opérations
                for index,current in link_operation.iterrows():
                    kind = current['kind_ope']
                    if kind =='input':
                        values['input']=current['id_ope']
                        values['type_input']='operation'
                    if kind =='output':
                        values['output']=current['id_ope']
                        values['type_output']='operation'

                # Ajout des entrées et sorties
                if values['input']==None:
                    values['input']=-1
                    values['type_input']='end'
                if values['output']==None:
                    values['output']=-1
                    values['type_output']='beginning'
                requete = f""" 
                            INSERT INTO arete
                            (id_channel,id_output,type_output,id_input,type_input,id_wf)
                            VALUES
                            (%(cha)s,%(out)s,%(t_out)s,%(in)s,%(t_in)s,%(idW)s)
                            """
                cur.execute(requete,{'cha':cha,'out':values['output'],'t_out':values['type_output'],'in':values['input'],'t_in':values['type_input'],'idW':values['id_wf']})
                added[cha]=values
            i+=1
            
    file.close()
    return added

In [53]:
added = remplissage(wf_bug,chnl,channel_to_proc,operation_to_channel)

In [54]:
len(wf_bug)

506

In [23]:
file =open("pb_wf_arete.txt","a")
file.write(str(bug))
file.close()